.color__nav {
    background-color: #28a745;
}

.nav__logo {
    height: 25px;
    width: 86px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #707070;
}

.send-mail-container {
    background-color: #28a745;
}

.titulo__footer {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.footer__text {
    color: #707070;
}

.footer {
    height: 120px;
}

.footer__image {
    height: 24px;
    width: 82px;
}